.settingboxforpassowrd{
    margin-top: 0%;
    height: 290px;
    width: 30%;
    background-color: white;
    border-radius: 15px;
    margin-left: 33%;
}
.passwordheader {
    font-size: 40px;
    font-weight: 950;
    margin-left: 33%;
    padding-top: 1%;
  }
  .formpassowrdheader {
    font-size: 24px;    
    font-weight: 700;
    margin-left: 31%;
    margin-top: 8%;
    padding-top: 4%;
  }