.settingside{
  margin-left: 40%;
  font-size: 20px;
  font-weight: 700;
  margin-top: 1%;
}
.box1{
  margin-left: 7%;
  width: 40%;
  margin-top: 2%;
  height: 500px;
}

.divinsidestepone{
  padding: 50px;
  margin-top: 3%;
  background-color: white;
  border-radius: 20px;
  height: 100%;
}

.logoutdiv1{   
  width:36%; /* Set width as needed */
  background-color: white; /* Customize background color */
  border: 1px solid lightgrey; /* Add border if needed */
border-radius: 10px;
padding: 2%;
}
.textsetting{
  font-size: 17px;
  font-weight: 700;
}
.textsetting1{
  font-size: 17px;
  font-weight: 400;
}
.paddingboot{
  margin-top: 4%;
 margin-bottom: 2%; 
}
.textspan{
  font-size: 18px;
  font-weight: 700;
  margin-left: 10%;
}

.custom-file-input {
  background-color: #1054FB;
  color: white;
  border-radius: 18px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
  display: inline-block;
}

.custom-file-input:hover {
  background-color: navy;
}

.hidden {
  color: transparent;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.greybox{
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 13px;
  padding-left: 30px;
}
.topmargin{
  margin-top: 20%;
}

.topmargin1{
  margin-top: 15%;
}

.progress-bar-container {
  width: 50%;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
  height: 20px; /* Adjust height as needed */
}

.progress-bar {
  height: 100%;
  text-align: center;
  line-height: 20px; /* Adjust line height to vertically center text */
  color: black;
  transition: width 0.3s ease; /* Add transition effect for smooth width change */
}

.progress-bar.loading {
  background-color: #FFB800;
}

.progress-bar.complete {
  background-color: #5DA83C;
}

.progress1-bar-container {
  width: 50%;
  background-color: #f0f0f0;
  border-radius: 4px;
  overflow: hidden;
  height: 20px; /* Adjust height as needed */
}

.progress1-bar {
  height: 100%;
  text-align: center;
  line-height: 20px; /* Adjust line height to vertically center text */
  color: black;
  transition: width 0.3s ease; /* Add transition effect for smooth width change */
}

.progress1-bar.loading {
  background-color: #FFB800;
}

.progress1-bar.complete {
  background-color: #5DA83C;
}
.hidden {
  display: none;
}
