.settingside1{
  margin-left: 25%;
  margin-top: 2%;
  font-size: 20px;
  font-weight: 900;
  color: #1054FB;
}
.box2{
  margin-left: 5%;
  width: 40%;
  margin-top: 2%;
  height: 250px;
}
.settingsetponeheader{
  margin-top: 1%;
 
}

.customColor{
  color:#949494 !important;
}
.customColor1{
  color:#949494 !important;
  background-color: #F8F8F8 !important;
  
}

.logoutdiv1{   
  width:36%; /* Set width as needed */
  background-color: white; /* Customize background color */
  border: 1px solid lightgrey; /* Add border if needed */
border-radius: 10px;
padding: 2%;
  display: none; 
}
.textsetting{
  font-size: 17px;
  font-weight: 700;
}
.textsetting1{
  font-size: 17px;
  font-weight: 400;
}
.paddingboot{
  margin-top: 4%;
 margin-bottom: 2%; 
}

.textspan1{
  font-size: 18px;
  font-weight: 700;
  margin-left: 1%;
}
.selectstyle1 {
border: none;
padding-left: 20px;
  width: 50%;
  height: 40px;
  margin-top: 3%;
  margin-left: .5%;
  border-radius: 10px;
  background-color: #D9EFF9;
  color: #1054FB;
}
.parent:hover .logoutdiv1 {
  display: block; /* Show logout div when parent is hovered */
  position: absolute;
}
.custom-file-input {
  background-color: #1054FB;
  color: white;
  border-radius: 18px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: Arial, sans-serif;
}

.custom-file-input:hover {
  background-color: navy;
}

.hidden {
  color: transparent;
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.topmargin{
  margin-top: 20%;
}

.topmargin1{
  margin-top: 15%;
}



.hidden {
  display: none;
}
