.settingwidthofbox{width: 50%;}
.titleoflogout{
    font-size: 60px;
    
font-weight: 900;
    padding: 10%;
    padding-bottom: 0%;

}
.colorgrey{
   color: #949494
}
.subtitlelogout{
    padding-left: 10%;
    width: 50%;
    font-weight: 600;
    padding-bottom: 3%;
}
.button3{
    margin-left: 10%;
    border:none;
    color: white;
    background-color: #1054FB; 
    padding: 10px;
    padding-left: 30px;
    padding-right :30px;
    border-radius: 10px;
    margin-bottom: 5%;
}
.pictureswall{
    width: 55%;
}
.row1{
    width: 35%;
overflow: hidden;
    margin-left: 30%;
    margin-right: 1%;
  }
  .row2{
    width: 35%;
    margin-right: 5%;
    overflow: hidden;
  }